In [2]:
import pandas as pd
import numpy as np

In [26]:
N_voltages      = 2
combinations    = [[0,1],[0,2],[0,3],[0,4],[0,5],[0,6],[1,0],[1,2],[1,3],[1,4],[1,5],[1,6],[2,0],[2,1],[2,3],[2,4],[2,5],[2,6],
                  [3,0],[3,1],[3,2],[3,4],[3,5],[3,6],[4,0],[4,1],[4,2],[4,3],[4,5],[4,6],[5,0],[5,1],[5,2],[5,3],[5,4],[5,6],
                  [6,0],[6,1],[6,2],[6,3],[6,4],[6,5]]
v_rand          = np.tile(np.random.uniform(low=-0.05, high=0.05, size=((N_voltages,7))), (4*len(combinations),1))
v_gates         = np.tile(np.random.uniform(low=-0.1, high=0.1, size=N_voltages).T, 4*len(combinations))
voltages        = pd.DataFrame(v_rand)
voltages[7]     = 0
voltages[8]     = v_gates
voltages

,0,1,2,3,4,5,6,7,8
0,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
1,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259
2,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
3,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259
4,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
...,...,...,...,...,...,...,...,...,...
331,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259
332,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
333,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259
334,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
335,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259

In [27]:
voltages

,0,1,2,3,4,5,6,7,8
0,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
1,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259
2,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
3,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259
4,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
...,...,...,...,...,...,...,...,...,...
331,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259
332,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
333,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259
334,0.033297,0.047491,0.001978,0.030736,-0.001480,-0.007652,-0.014779,0,-0.017905
335,-0.000977,-0.001862,0.030971,-0.014678,-0.014027,-0.016548,-0.018525,0,-0.080259